
:root {
  font-size: 80%;
  --color-text-itens: #000;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ul li,
ul ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
}
html,body, #root {
  width: 100vw;
  height: 100vh;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
body {
  background-color: #fff;

}
body, input,button,textarea{
  font: 500 1.6rem;
}

@media (min-width: 767px){
  :root {
      font-size:100%;
  }
}